# Ignorar archivos temporales y configuraciones locales
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Excluir archivos temporales específicos del proyecto, pero no el código fuente
!/app/
!/gradle/
