<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_peque"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_peque"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bloom"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ActivityProductos"
            android:exported="false" />
        <activity
            android:name=".categorias.ActivityCategorias"
            android:exported="false" />
        <activity
            android:name=".pantallacompra.ActivityCompra"
            android:exported="false" />
        <activity
            android:name=".pantallahome.ActivityPrincipal"
            android:exported="false" />
        <activity
            android:name=".PruebaAPi"
            android:exported="false" />
        <activity
            android:name=".SingUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Base.Theme.Bloom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallahome.MainActivity"
            android:exported="false" />
    </application>

</manifest>